* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #181818;
  }
  body {
    background: #e2e2e2;
  }
  input[type="submit"],
  button,
  [aria-label] {
    cursor: pointer;
  }
  #spoiler {
    display: none;
  }
  .container {
    display: flex;
    justify-content: flex-start;
    flex-flow: column nowrap;
    align-items: center;
    height: 100vh;
  }
  .editTextFld{
    background-color: #e2e2e2;
    width: 200px;
    max-width: auto;
  }
  .editTextFld:hover{
    background-color: #ffffff;
  }
  .editTextFld,
  #add-name {
    font-size: 1.25em;
    border-style: none;
    margin: 1em;
    text-align: center;
    height: 1.5em;
    border-radius: 4px;
  }
  p#counter,
  .name {
    padding: 0.5em;
    font-size: 1.6em;
    font-weight: 700;
  }
  .countryList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.25em;
    width: 100vh;
  }
  
  .countries {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  section {
    display: grid;
    max-width: 100%;
    padding: 5px;
    grid-template-columns: 2fr .5fr .5fr;
    border-bottom: black solid 1px;
    gap: 2px;
  }
  section.countryName {
    text-align: left;
  }
  .deleteBtn,
  .editBtn {
    text-align: right;
  }
  .addBtn,
  .submitEditTextBTN{
    width: 75px;
    height: 1.5em;
    background: #004745;
    color: #ffffff;
    border: none;
    border-radius: 1em;
  }
  i{
      color: #004745;
      text-align: center;
  }
  .submitEditTextBTN:hover,
  .addBtn:hover {
    background-color: #471200;
    color: #dbd4d4;
    transform: scale(1.25);
    transition: .2s ease-in-out;
  }
  i:hover {
    color: #471200;
    transform:scale(1.05);
    transition: .2s ease-in-out;
  }
  .submitEditTextBTN:active,
  .addBtn:active{
    background-color: #081E4E;
    color: white;
  }
  i:active{
    color:  #081E4E;
  }