*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    background:#4458a0	;
}
h1{
    margin: 1em;
    font-size: 3em;
    border: 1px solid white;
    width: 16em;
    text-align: center;
    height: 2em;
}
#wrapper{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}
#text1{
    width: 15em;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
}
#btn1,
#btn2{
    height: 2em;
    width: 6em;
    padding: .5em;
    margin: .5em;
    font-size: 1.5em;
    border-style: none;
    background-color: #212436;
    color: white;
    font-weight: 600;
    border-radius: .2em;
    cursor: pointer;
    ;
}
#btn1:hover,
#btn2:hover{
    color: black;
    background: white;
}
#btn1:active,
#btn2:active{
    color: greenyellow;
    background: #857e7e;
}
#result,
#added-item{
    font-size: 2em;
    font-weight: 600;
    margin: 1em;
}